Django==6.0.5
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-environ==0.13.0
django-anymail==15.2
psycopg2-binary==2.9.12
djangorestframework-simplejwt==5.5.1
Pillow==12.2.0
anthropic==0.109.1
gunicorn==26.2.0
whitenoise==6.12.0
